.finished {
    text-decoration: line-through;
    font-style: italic;
}

.list-enter-active, .list-leave-active {
    transition: all 1s;
}

.list-enter, .list-leave-to {
    opacity: 0;
    transform: translateX(90px);
}